<div class="col-xs-12 title">
  <h1>Компании</h1>
</div>
<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
   <div style="text-align: center">
  <p><%= link_to 'Добавить компанию', new_company_path %></p>
   </div>
  <br>

  <div style="overflow-x:auto;">
    <table>
      <tbody>
      <%= render @companies %>
      </tbody>
    </table>
  </div>
</div>
