<div class="container">
  <div class="col-xs-12 title">
    <h1>Компании</h1>
  </div>
  <p><%= link_to 'Добавить компанию', new_company_path %></p>
  <br>

  <div style="overflow-x:auto;">
    <table>
      <tbody>
      <%= render @companies %>
      </tbody>
    </table>
  </div>
</div>
